[station]
alias = pinky
version = 1.0
mac_filter = en

[queue]
position_l = 10000
cmd_l = 100
call_l = 100

[MQTT]
#server = 10-8-47-94.local.
server = 192.168.1.135
port = 1883
position_t = position
cmd_t = ap
common_t = common
outbody_t = position
call_t = nursecall
heartbeat_t = apstate

[SOCKET]
host = 10.8.47.5
port = 50007

[DATA]
mode = SJ

[BLE]
bracetlet_flag = 00ff
position_manufacturer_flag = 13
call_manufacturer_flag = 66
outbody_manufacturer_flag = 68
bracelet2_flag = 200000
bracelet3_flag = 140000

[time]
thread_cmd_sleep_time = 10.0
thread_mqtt_loop_sleeptime = 2.0
thread_mqtt_loop_timeout = 1.0
thread_mqtt_keepalive_time = 130
thread_mqtt_sender_position_sleeptime = 1.0
thread_mqtt_sender_call_sleeptime = 0
thread_timer_control_blescan_flag_sleeptime = 10.0
thread_heartbeat_sleeptime = 5.0
main_scanner_scantime = 1.0

[camera]
resolution_h = 1600
resolution_v = 1200
hottime = 1.0
upload_host = 10.8.47.29
upload_port = 9090
tmp_dir = jpeg


